* {
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
  margin-top: 0rem;
  font-size: 16px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  /* background: url("../img/background.jpg"); */
  display: flex;
  text-align:center;
  flex-direction: column;
  width: 100%;
  margin: 0rem auto;
}

body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  background-color: #e4e4e4;
  /*background-image: linear-gradient(to bottom, #a7a7a7 0%, #e4e4e4 51%);*/
  font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI",
    "Roboto", sans-serif;
  font-size: 12px;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
    env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  text-transform: uppercase;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
#playbackB {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

#volumeB {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 25px;
}
button {
  padding: 10px 15px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 10px;
  max-width: 100px;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.page.active {
  opacity: 1;
  transform: translateX(0);
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "btn-left title btn-right";
  height: 4rem;
  background-color: #4C6861;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.64);
}

.page {
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0;
  transform: translateX(-200%);
}

#music_list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
}

.music_card {
  border: 1px solid black;
  border-radius: 6px;
  padding: .5rem;
  align-items: center;
}

.music_card > p {
  font-weight: bold;
}

.album_picture {
  max-height: 50%;
  max-width: 50%;
}

#toMediaBtn{
  display:none;
}

#toMediaBtn.active{
  display:block;
}